.wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.wrapper {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    background-color: azure;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-gap: 5px;
    padding-bottom: 40px;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: #6666;
}

.one {
    background-color: #FF9B6D;
    grid-column: 1 / 4;
}

.two {
    background-color: #FFD37C;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.three {
    background-color: #c8d878;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.four {
    background-color: #7DBCA9;
    grid-column: 1 / 3;
}

.five {
    background-color: #87CEEB;
    grid-column: 3 / 4;
}




