.wrapper2>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;



}

.wrapper2 {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    background-color: azure;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 5fr;
    grid-gap: 5px;

}
h1 {
    text-align: center;
    font-family: sans-serif;
    color: #6666;
}

.one6 {
    background-color: #FF9B6D;
    grid-row: 1 / 4;
}

.two7 {
    background-color: #FFD37C;
    grid-column: 2 / 4;
}

.three8 {
    background-color: #c8d878;
}

.four9 {
    background-color: #7DBCA9;
}

.five10 {
    background-color: #87CEEB;
    grid-column: 2 / 4;
}